.wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cell {
  width: 100px;
  height: 100px;
  background-color: navy;
  margin: 7px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
}
div .cell {
  opacity: 0.5;
}

* {
  font-size: 30px;
  text-transform: uppercase;
}
